
# Flutter 관련 파일
App/.dart_tool/
App/.idea/
App/.vscode/
App/build/
App/ios/Pods/
App/pubspec.lock
App/.env
App/ios/Runner/Info.plist
App/.flutter-plugins
App/.flutter-plugins-dependencies
App/ios/build/ios
.DS_Store


# Next.js 관련 파일
Web/.next/
Web/node_modules/
Web/.env.local

# Kiosk 관련 파일
Kiosk/.dart_tool/
Kiosk/.idea/
Kiosk/.vscode/
Kiosk/build/
Kiosk/ios/Pods/
Kiosk/pubspec.lock
Kiosk/.env


# Python 관련 파일
Core/venv/
Core/__pycache__/
Core/util/__pycache__/
Core/.venv/
Core/.env
App/.flutter-plugins-dependencies
