name: app
description: "A new Flutter project."

publish_to: 'none' 
version: 1.0.0+1

environment:
  sdk: ^3.7.0


dependencies:
  flutter:
    sdk: flutter
  supabase_flutter: ^2.0.0

  cupertino_icons: ^1.0.8
  flutter_dotenv: ^5.2.1
  shared_preferences: ^2.5.2
  json_annotation: ^4.9.0
  http: ^1.3.0
  json_serializable: ^6.9.4
  google_maps_flutter: ^2.11.0
  url_launcher: ^6.3.1

dev_dependencies:
  flutter_test:
    sdk: flutter


  flutter_lints: ^5.0.0
  build_runner: ^2.4.15

flutter:
  uses-material-design: true

  assets:
    - .env
    - assets/images/sushi.png
    - assets/images/japanese_food.png
